{% extends "base.html" %}

{% block main %}

{% include 'flash_messages.html' %}

    <h1>Secure Page</h1>
    <p> Welcome to the secure page! Being here means that you have successfully logged in. When you're done, you may logout and try logging in again.<br/>
        <br/>
        lorem ipsum dolor sit amet consectetur adipiscing elit pretium convallis tortor mollis posuere at lectus molestie dui mus rhoncus maximus non consequat leo primis varius eget senectus netus montes et aliquam hendrerit volutpat vestibulum semper eros faucibus sagittis class eu aenean sem facilisi condimentum ultricies fames euismod tellus torquent curabitur platea libero ad mattis penatibus inceptos proin enim accumsan suspendisse potenti lacus risus natoque id porta dignissim pulvinar vulputate dictum sociosqu cras commodo dapibus justo ex taciti cursus habitasse etiam placerat vel fermentum nisi erat turpis efficitur auctor sollicitudin ornare nulla quisque finibus vehicula praesent sed maecenas dis ac litora </p>


{% endblock %}